.productmain{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productpart1{
    position: relative;
    width: 100%;
}

.leftpartbanner{
    position: relative;
    z-index: 10;
    flex-grow: 1;
}

.imageoverlay {
    position: relative;
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    opacity: 10;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap-reverse;
}   

.timeban{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -21px;
    background-color: #FC8A06;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 15px;
    font-size: 14px;
    color: white;
    font-weight:600;
    z-index: 10;
}

.buttongroup{
    display: flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

.buttongroup button {
    flex-grow: 1;
    margin-top: 14px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 4px 14px;
}

.buttongroup button img {
    width: 24px;
}


.imageoverlay div:first-child{
    text-align: start;
}

.donwimageoverfly{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    
}

.donwimageoverfly h5{
    font-size: 24px;
    font-weight:bolder;
}


.searchbar{
    position: relative;
}

.searchbar input{
    border: 1px solid #0000005c;
    border-radius: 28px;
    padding: 10px 43px;
    width: 243px;
}

.searchbar img{
    position: absolute;
    top: 9px;
    left: 14px;
    width: 23px;
}

.rightbannerimage{
    z-index: 10;
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

@media only screen and (min-width:700px) {
    
.rightbannerimage img{
    height: 100%;
    width: 100%;
    max-width: 450px;
    text-align: center;
}
}

@media only screen and (max-width:700px) {
.rightbannerimage img{
    height: 100%;
    width: 100%;
}
} 


.productnav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 20px;
    color: white;
    font-weight: bold;
}

.productnav li{
    white-space: nowrap;
}

.productmain .navbar{
    background-color: #FC8A06;
    padding: 10px 53px;
    margin: 40px 0px 35px 0px;
    /* position: absolute; */
    overflow-x: auto;
    width: 100%;
    /* right: 0px;
    top: 569px; */
}

.activenavproduct{
    background-color: black;
    border-radius: 24px;
    padding: 3px 10px;
}

.productimagecard{
    min-width: 200px;
}

.productpart2{
    margin-top:2vh;
}

.productpart2 .imagedisplay{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.imageoverlayback{
    background-image: linear-gradient(to left, #ffffff00 0%, rgb(3 8 31 / 39%) 58%, #03081f89 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.imagecover{
    position: relative;
}


.bannerpdoduct{
    position: relative;
    height: fit-content;
}

.imageoverly{
    position: absolute;
    background-color: #03081fe3;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    z-index: 1;
}

.pi1{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: space-between;
}


.discount{
    align-items: center;
    flex-grow: 0;
    background-color: black;
    border-radius: 0px 0px 6px 6px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    align-self: end;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.pi1 div p{
    color: #FC8A06;
    font-size: 12px;
    font-weight: 800;
    line-height: 0px;
}

.pi1 div h5{
    color: white;
    font-weight: 800;
}

.pi1 div:nth-child(2) {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    gap: 5px;
    margin-bottom: 10px;
}

.curvedaddbutton{
    padding: 12px 13px;
    position: absolute;
    background: #ffffffb3;    
    border-radius: 24px 0 0px 0px;
    bottom: 0px;
    right: 0px;
}

.curvedaddbutton button{
    background-color: black;
    border-radius: 13px;
    height: 24px;
    width: 24px;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}



/* burges section */
.Burgers{
    margin: 33px 0px 35px 0px;
}
.Burgers h5{
    font-size: 23px;
    font-family: poppins;
    font-weight: bolder;
    text-align: start;
}

.productdispalylist{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    margin-top: 23px;
}

.productdispalylist .card{
    border-radius: 12px;
    padding: 11px;
    text-align: start;
    width: fit-content;
    border: 2px solid #dfb4b440;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.productdispalylist .card .left{
    gap: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.productdispalylist .left h6{
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 14px;
}

.productdispalylist .left p:first-child{
    font-size: 12px;
}

.productdispalylist .left p:last-child{
    font-size: 12px;
    font-weight: 700;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.productdispalylist .cardimgg{
    position: relative;
}

.productdispalylist .card .cardimgg img{
    width: 200px;
    height: 100%;
}
.productdispalylist .card p{
    font-size: 10px;
}


/* Fires */
.Fries{
    margin: 33px 0px 35px 0px;
}
.Fries h5{
    font-size: 23px;
    font-family: poppins;
    font-weight: bolder;
    text-align: start;
}


/* Cord Drinks */
.ColdDrinks{
    margin: 33px 0px 35px 0px;
}
.ColdDrinks h5{
    font-size: 23px;
    font-family: poppins;
    font-weight: bolder;
    text-align: start;
}


/* productcontact */
.productinfocard{
    margin-top: 50px;
    background: #FBFBFB;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.productinfocard .main{
    padding: 0px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
}

.productinfocard .main .part1,
.productinfocard .main .part2,
.productinfocard .main .part3 {
    width:fit-content;
    flex-grow: 1;
    padding: 40px 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.productinfocard .main .part3{
    background-color: #03081F;
    color: white;
    border-radius: 0px 15px 15px 0px;
}
.productinfocard .main .part1{
    border-radius: 15px 0px 0px 15px;
}

.productinfocard .part1 .title,
.productinfocard .part2 .title,
.productinfocard .part3 .title{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
    width: fit-content;
}

.productinfocard .part1 .title p,
.productinfocard .part2 .title p,
.productinfocard .part3 .title p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
}

.productinfocard .part1 p,
.productinfocard .part2 p,
.productinfocard .part3 p{
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    padding-left: 10px;
    max-width: 300px;
}

.productinfocard .part1 p span,
.productinfocard .part2 p span,
.productinfocard .part3 p span{
    font-weight: 600;
}

.productinfocard .title{
    margin-bottom: 10px;
}

.part2 p:first-child{
    line-height: 10px;
}



/* map */
.mapcard{
    margin-top: 50px;
    margin-bottom: 50px;
}

.mapcardoverlay{
    position: relative;
    height: 400px;
    display: flex;
    border:2px solid rgba(0,0,0,0.07);
    border-radius: 10px;
    flex-grow: 1;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:100px;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.mapcard .part1{
    flex-grow: 1;    
    background-color: #03081F;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: start;
    align-items: start;
    padding: 16px;
    gap:10px
}



.mapcard .part2 img{
    background-color: black;
    border-radius: 27px;
    padding: 10px 10px;
    width: 49px;
    position: absolute;
    right: 43px;
    top: 111px;
}

.mapcard .part2 div:first-child{
    top: 136px;
    right: 72px;
    position: absolute;
    background: white;
    padding: 10px 25px;
    border-radius: 13px;
    border:1px solid rgba(0,0,0,0.07);
    box-shadow: #03081f87 1px 1px 2px 0.5px;
}



/* customer review */
.customreview{
    margin-top: 40px;
    margin-bottom: 43px;
}

.customreview .cr{
    background-color: #D9D9D9;
    height: 340px;
    position: absolute;
    width: 100%;
    left: 0px;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap:10px
}

.cr .head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.cr .head .title h5{
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
    font-weight: 600;
}

.cr .navbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.cr .navbutton button{
    background-color: #FC8A06;
    font-size: 20px;
    font-weight: 600;
    border-radius: 26px;
    width: 5vw;
    height: 5vw;
    max-width: 40px;
    max-height: 40px;
}


.cr .rcard{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
}


.rcard .upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rcard .upper1{
    display: flex;
    gap:10px
}

.rcard .typoprofile{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.ratedate{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
    align-items: end;
}

.ratedate div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px
}

.cr .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    flex-grow: 1;
    overflow-x: auto;
}


.resturants {
    height: fit-content;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    /* margin-bottom: 90px; */
  }
  
  .resturants .cardlist{
    gap: 20px;
    justify-content:space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  }
  
  
  .resturentcard h5{
    background-color: #FC8A06;
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-self: center;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
  
  }

  @media only screen and (max-width:800px){
    .donwimageoverfly{
        display: none;
    }
  }


  @media screen and (max-width:638px) {
    .mapcardoverlay .part2{
        display: none;
    }
  }

  .cardproductsection{
    display: flex;
    justify-content:space-between;
    gap: 6vw;
  }

  .cardproductsection .left{
    flex-grow: 1;
    width: 100%;
  }
  .cardproductsection .right{
    flex-grow: 1;
  }

  .cartmain{
    border: 1px solid #00000011;
    border-radius: 10px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cartmain div{
    width: 100%;
    background-color: #F9F9F9;
  }
  

  .cartmain .header .basket{
    background-color: #028643;
    padding: 10px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 16px;
    font-size: 22px;
    font-weight: 600;
  }

  .cartmain .itemslist li{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .itemlist2{
    text-align: start;
  }

  .totalsection{
    display: flex;
    flex-direction: column;
  }
  .totalsection li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .totalpaybutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
  }

  .totoalpay{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #FC8A06;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
  }


  .totalpaybutton button:not(:first-child){
    background-color:#F6F6F6;
    border: 1px solid #CFCFCF;
    padding: 6px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .duoscootycollection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .duoscootycollection button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
  }

  .duoscootycollection button div{
    background-color: #EEEEEE;
  }

  .lastbutton{
    background-color: #028643;
    display:flex;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  }


  @media screen and (max-width:800px) {
    .cartleftleft{
        display: none;
    }
  }